{% extends "base.html" %}

{% block titulo %} {% endblock %}

{% block contenido %}

<div class="card">
    <!--<div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'crear_producto' %}" role="button" >NUEVO PRODUCTO</a>
        
    </div>-->
    <div class="card-body">
        <h4 class="card-title">PRODUCTOS COMPRADOS</h4>
        <div
            class="table-responsive"
        >
            <table
                class="table"
            >
                <thead class="table-success">
                    <tr>
                        <th>ID</th>
                        <th>Titulo</th>
                        <th>Marca</th>
                        <th>Cantidad</th>
                        <th>Imagen</th>
                        <th>Descripcion</th>
                        <th>Precio</th>
                        <th>Estado compra</th>
                    </tr>
                </thead>
                <tbody>
                    {% for producto1 in productos1 %}
                        {% for producto in productos %}
                        
                        <tr class="">
                            {% if producto.idproducto == producto1.id %}
                            <td>{{ producto.id }}</td>
                            <td>{{ producto1.titulo }}</td>
                            <td>{{ producto1.marca }}</td>
                            <td>1</td>
                            <td>
                                <img src="{{ producto1.imagen.url }}" height="100"/>
                    
                            </td>
                            <td>{{ producto1.descripcion }}</td>
                            <td>{{ producto1.precio }}</td>
                            <td>{{ producto.estado }}</td>
                        </tr>
                        
                        {% endif %}
                        {% endfor %}
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
        
    </div>
    <div class="card-footer text-muted"></div>


</div>

{% endblock %}