{% extends "base.html" %}

{% block titulo %}Tienda Online{% endblock %}

{% block contenido %}

<div class="p-0 mb-4 bg-light bg-gradient rounded-3 shadow-lg" style="position: relative; overflow: hidden;">

    <video autoplay muted loop class="w-100" style="height: 100%; object-fit: cover; position: absolute; top: 0; left: 0;">
        <source src="../static/videos/fondo.mp4" type="video/mp4">
        Tu navegador no soporta el formato de video.
    </video>

    <div class="container-fluid py-5 text-center" style="position: relative; z-index: 1;">
        <h1 class="display-4 fw-bold mb-4" style="color: yellow;">COMPRA AHORA</h1>
        <p class="col-md-8 mx-auto fs-5 text-white mb-4">
            Encuentra los productos que necesitas para toda la familia, combinando calidad, estilo y precios competitivos.
        </p>
        <a href="{% url 'productosgenerales' %}" class="btn btn-danger btn-lg px-5 py-3 rounded-pill shadow">
            Explorar Productos
        </a>
    </div>
</div>

<div class="container my-5">
    <div class="row text-center">
        <div class="col-md-4">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h5 class="card-title text-secondary">Calidad Garantizada</h5>
                    <p class="card-text text-muted">
                        Nuestros productos son seleccionados con los más altos estándares de calidad, asegurando la satisfacción de nuestros clientes.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h5 class="card-title text-secondary">Precios Accesibles</h5>
                    <p class="card-text text-muted">
                        Ofrecemos precios competitivos para ajustarnos a tu presupuesto, sin sacrificar calidad.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h5 class="card-title text-secondary">Envíos Rápidos</h5>
                    <p class="card-text text-muted">
                        Recibe tus productos rápidamente, donde sea que te encuentres, con nuestro servicio de envíos express.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}