{% extends "base.html" %}
{% block titulo %} Editar producto {% endblock %}

{% block contenido %}

{{error}}

<!-- Modal -->
<div class="modal fade show" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signupModalLabel">Crear Usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/signup/" method="POST">
          {% csrf_token %}
          <div class="mb-3">
            <label for="cedula">Cédula</label>
            <input type="number" name="cedula" id="cedula" class="form-control" placeholder="Digite su cédula">
          </div>
          <div class="mb-3">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Digite su nombre">
          </div>
          <div class="mb-3">
            <label for="apellido">Apellido</label>
            <input type="text" name="apellido" id="apellido" class="form-control" placeholder="Digite su apellido">
          </div>
          <div class="mb-3">
            <label for="email">Correo Electrónico</label>
            <input type="email" name="email" id="email" class="form-control" placeholder="Digite su correo electrónico">
          </div>
          <div class="mb-3">
            <label for="telefono">Teléfono</label>
            <input type="number" name="telefono" id="telefono" class="form-control" placeholder="Digite su número de teléfono (opcional)">
          </div>
          <div class="mb-3">
            <label for="direccion">Dirección</label>
            <textarea name="direccion" id="direccion" class="form-control" placeholder="Digite su dirección (opcional)"></textarea>
          </div>
          <div class="mb-3">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="form-control" placeholder="Digite de nombre de usuario">
          </div>
          <div class="mb-3">
            <label for="password1">Contraseña</label>
            <input type="password" name="password1" id="password1" class="form-control" placeholder="Digite su contraseña">
          </div>
          <div class="mb-3">
            <label for="password2">Repita contraseña</label>
            <input type="password" name="password2" id="password2" class="form-control" placeholder="Digite su contraseña nuevamente">
          </div>
          <button type="submit" class="btn btn-primary">Crear usuario</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var modal = new bootstrap.Modal(document.getElementById('signupModal'));
    modal.show();
  });
</script>

{% endblock %}